<!DOCTYPE html>
<html ng-app="api">
<head>
    <title>Users App - with Node + Express + Angular + MySQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="components\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.min.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="mainController">

<div class="container well">

    <div class="header">
        <h2>User App</h2>
        <hr>
        <h5 class="text-info">Node + Express + Angular + MySql</h5>
    </div>

    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Add new user</button>

    <br>
    <br>

    <table id="user-list" class="table table-striped table-condensed table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in usersData">
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>
                <button type="button" class="btn btn-primary btn-xs" ng-click="clickUpdate(user)" data-toggle="modal" data-target="#modal">Update</button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteUser(user.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">User name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter user name" ng-model="formData.name">
                        </div>
                        <div class="form-group">
                            <label for="age">User age</label>
                            <input type="text" class="form-control" id="age" placeholder="Enter user age" ng-model="formData.age">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="clickSave()">Save user</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<script src="components\jquery\dist\jquery.min.js" type="text/javascript"></script>
<script src="components\bootstrap\dist\js\bootstrap.min.js" type="text/javascript"></script>
<script src="components\angular\angular.min.js"></script>
<script src="javascripts\app.min.js"></script>
</body>
</html>
